@model Firewood_Project.Models.Registration

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    if (IsPost)
    {
        string username = Request.Form["user"];
        string password = Request.Form["psw"];
        string firstName = Request.Form["fname"];
        string lastName = Request.Form["lname"];
        string address = Request.Form["address"];
        string zipCode = Request.Form["zipcode"];
        string phoneNumber = Request.Form["phone"];
        string emailAddress = Request.Form["email"];

        <text>
            You entered: <br />
            Username: @username <br />
            Password: @password <br />
            First Name: @firstName <br />
            Last Name: @lastName <br />
            Address: @address <br />
            Zip Code: @zipCode <br />
            Phone Number: @phoneNumber <br />
            Email Address: @emailAddress <br />
        </text>

        var db = ;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="~/Content/FirewoodStyleSheet.css" />
    <script src="JavaScriptSignup.js" type="text/javascript"></script>
</head>

<body>
    <!--Header ----------------------------------------------------------------------------->
    <header>FIREWOOD PROJECT</header>
    <!--Navbar ------------------------------------------------------------------------------>
    <div class="container-fluid">
        <nav class="navbar ">
            <div class="container-fluid">
                <div class="row">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="@Url.Action("Index", "Home")" class="elements">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("About", "Home")" class="elements">
                                    <span>About</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Order", "Home")" class="elements">
                                    <span>Order</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Contact", "Home")" class="elements">
                                    <span>Contact</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!--Main image -------------------------------------------------------------------------->
    <div class="container-fluid">
        <img class="img1" src="~/Content/images/FWP.png" />
    </div>

    <form>
        <div align="right" id="login">
            <input class="usern" type="text" id="user" name="user" placeholder="Username" />
            <input class="pass" type="text" id="psw" name="password" placeholder="Password" />
            <input class="loginBtn" type="submit" name="submit" value="Login" onclick="return loginValidation();" /><br /><br />
            Not a Member? <input class="registerBtn" type="button" name="" value="Register" onclick="window.location.href='~/Views/Home/Register.cshtml'" />
        </div>
    </form>

    <!--Register form ------------------------------------------------------------------------------------->
    <div>
        <form method="post">
            <div class="container">
                <h3><strong>Create User Account</strong></h3>
                <p>Please fill in this form to create an account.</p>
                <hr>
                <div class="form">
                    <label for="username"><b style="color: azure">User Name</b></label><br />
                    <input type="text" placeholder="Enter User Name" name="user" id="user"
                           value="@Request.Form["user"]" /><br />

                    <label for="psw"><b style="color: azure">Password</b></label><br />
                    <input class="psw" type="password" placeholder="Enter Password" name="psw" id="psw"
                           value="@Request.Form["psw"]" /><br />

                    <label for="psw-repeat"><b style="color: azure">Repeat Password</b></label><br />
                    <input class="psw" type="password" placeholder="Repeat Password" name="psw-repeat" id="repeat"
                           value="@Request.Form["psw-repeat"]" /> <br />

                    <label for="fname"><b style="color: azure">First Name</b></label><br />
                    <input type="text" placeholder="Enter first name" name="fname" id="fn"
                           value="@Request.Form["fname"]" /><br />

                    <label for="lname"><b style="color: azure">Last Name</b></label><br />
                    <input type="text" placeholder="Enter last name" name="lname" id="ln"
                           value="@Request.Form["lname"]" /><br />

                    <label for="address"><b style="color: azure">Address</b></label><br />
                    <input type="text" placeholder="Enter address" name="address" id="adrss"
                           value="@Request.Form["address"]" /><br />

                    <label for="zip code"><b style="color: azure">Zip Code</b></label><br />
                    <input type="text" placeholder="Enter zip code" name="zipcode" id="zip"
                           value="@Request.Form["zipcode"]" /><br />

                    <label for="phone"><b style="color: azure">Phone Number</b></label><br />
                    <input type="text" placeholder="Enter phone number" name="phone" id="pn"
                           value="@Request.Form["phone"]" /><br />

                    <label for="email"><b style="color: azure">Email</b></label><br />
                    <input type="text" placeholder="Enter Email" name="email" id="mail"
                           value="@Request.Form["email"]" /><br />
                    <br />
                    <br />
                </div>
                <input class="SubmitButton" type="submit" name="create" value="Submit" onclick="signupValidation();" />
            </div>
        </form>
    </div>
    <div class="content">
    </div>
    <br /><br />

    <!--Footer --------------------------------------------------------------------------------------------->
    <div class="footer">
        <p>
            FireWood Project<br />
            Located on a Street<br />
            In a City<br />
            Washington<br />
            Contact Number: 1-800-xxx-xxx
        </p>
    </div>

    <!--Go to top ------------------------------------------------------------------------------->
    <div class="footer-bottom">
        <p></p>
        <p class="text-center"><a href="#">Back to top</a></p>
    </div>

</body>
</html>

